
    <div class="footer">
        <ul>
            <li><a href="#">Lien1</a></li>
            <li><a href="#">Lien2</a></li>
            <li><a href="#">Lien3</a></li>
            <li><a href="#">Lien5</a></li>
            <li><a href="#">Lien5</a></li>
        </ul>
    </div>