<div class="footer">
	<ul class="linkFooter">
		<h3>Information</h3>
		<a href="{{path('app_contact_footer')}}">Contact</a>
		<a href="{{path('app_mention_footer')}}">Mentions légales</a>
		<a href="{{path('app_confidentialite_footer')}}">Politique de confidentialité</a>
		<a href="{{path('app_condition_footer')}}">Conditions Générales de vente</a>
	</ul>
	<div class="logoFooter">
		<img src="/assets/img/logo.jpg">
	</div>
	<ul class="contactFooter">
		<h3>Contactez-Nous</h3>
		<li>Telephone : 0606650392</li>
		<li>Email : semprini.anthony@gmail.com</li>
		<li>Adresse : 53 rue de la charmaille</li>
		<li>Code postal : 67200</li>
		<li>Strasbourg</li>
	</ul>
</div>