<div class="footer">
	<div class="divFooter">
		<ul class="linkFooter">
			<h3>Information</h3>
			<a href="/#six">Contact</a>
			<a href="{{path('app_mention_footer')}}">Mentions légales</a>
			<a href="{{path('app_condition_footer')}}">Conditions Générales de vente</a>
		</ul>
		<div class="logoFooter">
			<img class="logfoot" src="/assets/img/logo.webp" alt="logo">
		</div>
		<ul class="contactFooter">
			<h3>Contactez-Nous</h3>
			<li>Telephone : 0606650392</li>
			<li>Email : semprini.anthony@gmail.com</li>
			<li>Adresse : 53 rue de la charmaille</li>
			<li>Code postal : 67200</li>
			<li><strong>Starsbourg</strong></li>
		</ul>
	</div>
</div>