
    <div class="footer">
        <ul>
            <li><a href="{{path('app_contact_footer')}}">Contact</a></li>
            <li><a href="{{path('app_mention_footer')}}">Mentions légales</a></li>
            <li><a href="{{path('app_confidentialite_footer')}}">Politique de confidentialité</a></li>
            <li><a href="{{path('app_condition_footer')}}">Conditions Générales de vente</a></li>
        </ul>
    </div>