<div class="footer">
	<div class="divFooter">
		<ul class="linkFooter">
			<h3>Information</h3>
			<a href="{{path('app_contact_footer')}}">Contact</a>
			<a href="{{path('app_mention_footer')}}">Mentions légales</a>
			<a href="{{path('app_confidentialite_footer')}}">Politique de confidentialité</a>
			<a href="{{path('app_condition_footer')}}">Conditions Générales de vente</a>
		</ul>
		<div class="logoFooter">
			<img class="logfoot" src="/assets/img/logoV4.png" alt="logo">
			{# <div class="iconFooter">
				<img src="assets/img/blue/ciseauxBleu.png" alt="ciseaux">
				<img src="assets/img/blue/col18.png" alt="homme barbu">
				<img src="assets/img/blue/az (16).png" alt="fauteuil barbier">
			</div> #}
		</div>
		<ul class="contactFooter">
			<h3>Contactez-Nous</h3>
			<li>Telephone : 0606650392</li>
			<li>Email : semprini.anthony@gmail.com</li>
			<li>Adresse : 53 rue de la charmaille</li>
			<li>Code postal : 67200</li>
			<li><strong>Starsbourg</strong></li>
		</ul>
	</div>
</div>