{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
{% if artilces | lenght > 0% %}
    
{% else %}
    <p>Le pannier est vide</p>
{% endif %}

{% endblock %}
