  {% extends 'base.html.twig' %}

{% block title %}RDV{% endblock %}

{% block body %}

<div id="calendrier">

</div>
        <a href="{{ path('app_reservation_new') }}">Create new</a>


{% endblock %}

{% block javascripts %}
<script>
    window.onload = () => {
        let calendarElt = document.querySelector("#calendrier")

        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'timeGridWeek',
            locale: 'fr',
            timeZone: 'Europe/Paris',
            headerToolbar:{
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth, timeGridWeek',
            },
  events: {{ data|raw }}
      
})
        calendar.render()

    }
</script>
        


{% endblock %}



