{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<section class="one">
    <div class="blackfilter"></div>
    <h1 class="titleHome">The Barber Shop</h1>
    {% if app.user %}
    <h2 class="welcome" >Bienvenue {{app.user.pseudo}}</h2>
    {% else %}
        <p>Aucun utilisateur n'est connecté</p>
        {% endif %}
    <p class="textHome">Plongez dans l'univers de la beauté masculine, où chaque coupe est une œuvre d'art. Notre équipe de maîtres barbiers et coiffeurs est dédiée à vous offrir un style qui parle de vous. Laissez-nous sublimer votre image et révéler la meilleure version de vous-même.</p>
</section>
<section class="two">
    <h2 class="star">Les prestations star</h2>
        <div class="cardStar">
            <div class="cardPresta">
                <h3>Rasage à l'ancienne</h3>
                <img src="/assets/img/rasage.jpg" alt="rasage">
                <p>Prix : 22.50€</p>
                <p>Durée : 30 minutes</p>
                <input type="submit" class="buttonSmall" value="Réserver">
            </div>
            <div class="cardPresta">
                <h3>Rituel du barbier</h3>
                <img src="/assets/img/rituel.jpg" alt="soin barbier">
                <p>Prix : 45.50€</p>
                <p>Durée : 90 minutes</p>
                <input type="submit" class="buttonSmall" value="Réserver">
            </div>
            <div class="cardPresta">
                <h3>Coupe + Barbe</h3>
                <img src="/assets/img/coupeBarbe.jpg" alt="taille barbe">
                <p>Prix : 35€</p>
                <p>Durée : 60 minutes</p>
                <input type="submit" class="buttonSmall" value="Réserver">
            </div>
        </div>
        <a href="#" class="button" >Voir les autres prestation</a>
</section>
<section class="three">
    <h2>Qui sommes nous ?</h2>
    <div class="icon">
        <img src="/assets/img/fauteuil.png" alt="fauteuil"> 
        <img src="/assets/img/ciseaux.png" alt="ciseaux"> 
        <img src="/assets/img/lampe.png" alt="lampe barbier"> 
    </div>
    <p class="qui">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat voluptatum nesciunt laudantium. Fugiat quia magni a omnis odio saepe optio assumenda. Optio incidunt, magnam eius tempora culpa dignissimos numquam deleniti accusantium quia facilis et ipsum similique doloremque distinctio nostrum voluptatem non debitis unde sit perferendis! Molestias consequuntur veritatis adipisci quod, nam hic deserunt aliquam quae minima voluptatibus mollitia quisquam animi pariatur placeat eligendi perspiciatis optio culpa modi voluptatem. Accusamus et iure aspernatur dicta, tempora excepturi illum quis velit itaque aliquam, repellat totam ratione! Quae id molestias eligendi consequatur magnam? In molestiae quidem iste laudantium assumenda enim sapiente nostrum odit distinctio. Qui voluptas fuga vero ipsam consectetur explicabo, expedita aut optio magnam ducimus fugiat perspiciatis, illum quae tenetur quia placeat, dicta unde nulla minus? Eum, provident officiis repudiandae, reprehenderit, velit ratione quibusdam nam voluptatum nobis nemo nisi. Et doloremque animi repellendus accusantium soluta officia necessitatibus corrupti, deleniti magni. Quidem corrupti explicabo animi et nemo </p>
</section>
<section class="four">
   <h2 class="star">Les nouveautés</h2>
        <div class="cardStar">
            <div class="cardProd">
                <h3>Lame de rasoir</h3>
                <img src="/assets/img/lame.jpg" alt="rasage">
                <p>Prix : 7.50€</p>
                <a href="#">Description</a>
                <input type="submit" class="buttonSmall" value="Acheter">
            </div>
            <div class="cardProd">
                <h3>Kit expert</h3>
                <img src="/assets/img/kitExpert.jpg" alt="soin barbier">
                <p>Prix : 99.99€</p>
                <a href="#">Description</a>
                <input type="submit" class="buttonSmall" value="Acheter">
            </div>
            <div class="cardProd">
                <h3>Coup-choux</h3>
                <img src="/assets/img/coupeChoux.jpg" alt="taille barbe">
                <p>Prix : 75.99€</p>
                <a href="#">Description</a>
                <input type="submit" class="buttonSmall" value="Acheter">
            </div>
        </div>
        <a href="#" class="button" >Voir les autres prestation</a> 
</section>
<section class="five">
    <div class="blurFilter"></div>
    <h2>Notre salon</h2>
    <p class="textHome">Plongez dans l'univers de la beauté masculine, où chaque coupe est une œuvre d'art. Notre équipe de maîtres barbiers et coiffeurs est dédiée à vous offrir un style qui parle de vous. Laissez-nous sublimer votre image et révéler la meilleure version de vous-même.</p>
</section>
<section class="six">
    <h2>Nous trouver</h2>

 <iframe class="map" style="border:0"Loading="lazy" allowfullscreen
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJCV_HWCzIlkcRocW--RwRZsk&key=AIzaSyCbjfSlC62hIMv6VluxtSxHsgpOB7_mLPY"></iframe>
</section>

{% endblock %}
