{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<H1>Profil</H1>
<p>Pseudo : {{app.user.pseudo}}</p>
<p>Email : {{app.user.email}}</p>
<a href="{{ path('app_user_delete', {'id': app.user.id }) }}" onclick="return confirm('Voulez-vous vraiment supprimer votre profil?');" >Supprimer votre profil</a>


{% endblock %}