<h1>Hello! Svp confirmé votre email!</h1>

<p>
    Cliquez sur ce lien pour confirmé votre email: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien expire {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
