{% extends 'base.html.twig' %}

{% block title %}RDV{% endblock %}

{% block body %}
<div id="calendrier">
{# {{dump(data)}} #}

</div>
        <a href="{{ path('app_reservation_new') }}">Create new</a>


{% endblock %}

{% block javascripts %}
<script>
    window.onload = () => {
        let calendarElt = document.querySelector("#calendrier")

        let events = {{ data|raw }}
         // Convert the array of objects to an array of events
        events = events.map((rdv) => {

            return {
                title: rdv.nom + " " 
                + rdv.prenom + " " 
                + rdv.numTel + " " 
                + rdv.prestation + " " 
                + rdv.user,
                color: '#9c1a1a',
                textColor: '#fcfcfc',
                start: rdv.rdv,
                
            };
        });
        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'timeGridWeek',
            locale: 'fr',
            timeZone: 'Europe/Paris',
            headerToolbar:{
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth, timeGridWeek',
            },

     events: events,
}) 
        calendar.render()

    }
</script>
        


{% endblock %}



