{% extends 'base.html.twig' %}

{% block title %}RDV{% endblock %}

{% block body %}
<div id="calendrier">
{# {{dump(data)}} #}

</div>
        <a href="{{ path('app_reservation_new') }}">Create new</a>


{% endblock %}

{% block javascripts %}
<script>
    window.onload = () => {
        
        let calendarElt = document.querySelector("#calendrier")
        let events = {{ data|raw }}
         // Convert the array of objects to an array of events
 
        events = events.map((rdv) => {

            return {
                title: rdv.nom + " " 
                + rdv.prenom + " " 
                + rdv.numTel + " " 
                + rdv.prestation + " " 
                + rdv.user,
                color: '#3a4774',
                textColor: '#fcfcfc',
                start: rdv.rdv,
                
            };
        });

            // Obtenez la date actuelle
        var currentDate = new Date();

        // Filtrez les événements passés
        events = events.filter((event) => {
            return new Date(event.start) >= currentDate;
        });
        
        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'timeGridWeek',
            locale: 'fr',
            timeZone: 'Europe/Paris',
            headerToolbar:{
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth, timeGridWeek',
            },
            allDaySlot: false, //retire allday
            slotMinTime: "08:00:00",//heure debut calendar
            slotMaxTime: "18:00:00",//heure fin calendar
            expandRows: true,
     events: events,
}); 
 

        calendar.render()

    }
</script>
        


{% endblock %}



