{% extends 'base.html.twig' %}

{% block title %}Réservation
{% endblock %}

{% block body %}

	<div class="reservationPage">
		<h1>Créé votre réservation</h1>
			{{ include('reservation/_form.html.twig') }}
		<div>
			<form action="{{ path('app_reservation_new') }}" method="post">
				<div class="datepicker input-group date">
					<input type="text" class="form-control datepicker" name="daySelect">
					<span class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</span>
				</div>
				<button type="submit">Envoyer</button>
			</form>
		</div>
        {% if slots is not empty%}
        <ul>
		<div id="crenauxDispo">
            {% for slot in slots %}
			
                  <li>
                {{ slot.start }} - {{ slot.end }}
            </li>
        {% endfor %}
            </div>
            </ul>
        {% else %}
            <p>Aucun rdv</p>
        {% endif %}
	</div>
	


	<script>
		$('.datepicker').datepicker({
format: "dd/mm/yyyy",
language: "fr",
daysOfWeekDisabled: "0,1",
daysOfWeekHighlighted: "0,1",
autoclose: true,
orientation: "top auto",
todayHighlight: true
});
$('.datepicker').change(function () { // Récupérer la date sélectionnée
var selectedDate = $(this).val();



});
	</script>

{% endblock %}
