{% extends 'base.html.twig' %}

{% block title %}Réservation
{% endblock %}

{% block body %}

	<div class="reservationPage">
		<h1>Créé votre réservation</h1>
			{{ include('reservation/_form.html.twig') }}
		<div >
			<form action="{{ path('app_reservation_new') }}" method="post" class="allDatepicker">

					<input type="text" class="form-control datepicker" name="daySelect">
				
					<span class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</span>

				<button type="submit">Envoyer</button>
				
			</form>
		</div>
		{% if availableSlots is not empty %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-success" role="alert">
                    Sélectionnez un créneau disponible.
                </div>
                <div class="list-group" id="crenauxDispo">
                    {% for slot in availableSlots %}
                        <button type="button" class="list-group-item list-group-item-action">
                            {{ slot.start }} - {{ slot.end }}
                        </button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="alert alert-warning" role="alert">
        Aucun créneau disponible.
    </div>
{% endif %}

	
	</div>
	

	<script>
		$('.datepicker').datepicker({
format: "dd/mm/yyyy",
language: "fr",
daysOfWeekDisabled: "0,1",
daysOfWeekHighlighted: "0,1",
autoclose: true,
orientation: "top auto",
todayHighlight: true
});
$('.datepicker').change(function () { // Récupérer la date sélectionnée
var selectedDate = $(this).val();



});
	</script>

{% endblock %}
