<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for produitCommande in field.value %}
            <li>
                Produit : {{ produitCommande.produit.nom }} - Quantité : {{ produitCommande.quantite }}
                <!-- Ajoutez d'autres détails que vous souhaitez afficher -->
            </li>
        {% endfor %}
        </ul>
        
    
</body>
</html>
