{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}

    <h1>Votre commande est validé</h1>
    <h3>Veuillez suivre les insctruction de paiement</h3>

 
{% endblock %}
