{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="banniere">
<img  src="/assets/img/contact.png" alt="banniére">
</div>
<h1>Contact</h1>
<h2>The barber shop</h2>
<p>Adresse : 53 rue de la charmille</p>
<p>CP : 67200</p>
<p>Ville : STRABOURG</p>
<p>Telephone : 0606650392</p>
<U><a href="mailto:semprini.anthony@gmail.com">Contactez-nous par mail</a></U>
{% endblock %}
