{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}
 
{% block body %}
<div class="legal">
<h1>Mentions Légales</h1>
 
<section>
    <h2>Éditeur du site</h2>
    <p>
        SEMPRINI Anthony<br>
        53 rue de la charmille 67200 STRASBOURG<br>
        Numéro de téléphone : 0606650392<br>
        Adresse e-mail : semprini.anthony@gmail.com<br>
        Forme juridique (auto-entrepreneur, société, etc.)<br>
        Numéro d'inscription au registre du commerce et des sociétés (le cas échéant)<br>
        Numéro de TVA intracommunautaire (le cas échéant)
    </p>
</section>
 
<section>
    <h2>Hébergement du site</h2>
    <p>
        Nom de l'hébergeur<br>
        Adresse de l'hébergeur<br>
        Numéro de téléphone de l'hébergeur
    </p>
</section>
 
<section>
    <h2>Directeur de la publication</h2>
    <p>Anthony SEMPRINI</p>
</section>
 
<section>
    <h2>Conception et réalisation</h2>
    <p>
        SEMPRINI Anthony<br>
        semprini.anthony@gmail.com
    </p>
</section>
 
<section>
    <h2>Données personnelles</h2>
    <p>
        Politique de confidentialité expliquant l'utilisation des données personnelles collectées <br>
        Mention de la loi Informatique et Libertés et du Règlement Général sur la Protection des Données (RGPD)<br>
        Moyens pour les utilisateurs de contacter le site pour exercer leurs droits d'accès, de rectification, de suppression des données, etc.
    </p>
</section>
 
<section>
    <h2>Cookies</h2>
    <p>
        Explication de l'utilisation des cookies sur le site<br>
        Instructions sur la façon dont les utilisateurs peuvent refuser et gérer les cookies
    </p>
</section>
 
<section>
    <h2>Liens hypertextes</h2>
    <p>
        Conditions d'établissement de liens vers le site<br>
        Mention que les sites liés ne sont pas sous le contrôle de l'administrateur du site et qu'il n'est pas responsable de leur contenu
    </p>
</section>
 
<section>
    <h2>Limitation de responsabilité</h2>
    <p>
        Clause de non-responsabilité concernant les informations fournies sur le site<br>
        Mention que l'administrateur du site ne peut être tenue responsable des dommages directs ou indirects résultant de l'utilisation du site
    </p>
</section>
 
<section>
    <h2>Modification des mentions légales</h2>
    <p>Mention que l'administrateur du site se réserve le droit de modifier les mentions légales à tout moment et sans préavis</p>
</section>
 
<section>
    <h2>Droit applicable et juridiction compétente</h2>
    <p>
        Déclaration sur le droit applicable et la juridiction compétente en cas de litige
    </p>
</section>
</div> 
{% endblock %}