            /********** NavBar et Footer **********/
ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
}
a{
    color: black;
    text-decoration: none;
}

            /********** SHOP **********/

.produits{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.card{
    display: flex;
    flex-direction:column;
    width: 150px;
    height: 250px;
}
img{
    width: 150px;
    height: 150px;
}
            /********** Panier **********/

table.panier{
    margin-top: 20px;
}
table.panier, td.panier, tr.panier, th.panier{
    border: 3px solid;
    border-collapse: collapse;
}  
td{
    text-align: center;
}  
img.imgPanier{
    border-radius: 10px;
    margin: 10px;
}
button.panierV{
    margin: 20px 0;
    background-color: green;
    width: 200px;
    height: 45px;
    border-radius: 10px;
}   
a.textBtnP{
   color: white;
   font-weight: bold;
   font-size: 16px;

}
            /********** Calendrier **********/

            #calendrier{
                width: 80%;
                margin:auto;
            }