*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/********** General **********/
h2{
    text-align: center;
    font-size: 25px;
    margin: 50px 0 ;
}
h3{
    margin: 20px 0 0 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
/********** NavBar **********/
.allNavBar{
    display: flex;
    flex-direction: column;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(197, 197, 197);
}
div.navbar > img{
    padding: 10px 0;
}
/* mini burger user */
#openBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.log{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
}
.log ul{
    padding: 0;
    margin: 0; 
}
.log a{
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.log a:hover{
    color: #111;
}
.log.active {
    right: 0;
}
.log .close {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
}
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.admin{
padding-top: 30px;
}
div.navbar > a,
div.log >a,
div.admin > a{
    font-size: 22px;
    font-weight: 600;
}
div.navbar > a:hover,
div.admin > a:hover{
    text-decoration: underline red;
}

/********** HOMEPAGE **********/

/* section one */

.one{
    height: 80vh;
    width: 100%;
    background-size: cover; /* L'image prendra 100% de l'espace */
    background-position: center; /* Centre la position de l'image */
    background-repeat: no-repeat; /* Empêche l'image de se répéter en fonction de la taille d'écran */
    background-image:url(/assets/img/haircut.jpg);
}

.titleHome{
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    position: relative;
    z-index: 10;
}
.welcome{
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    position: relative;
    z-index: 10;
}
.textHome{
    color: white;
    text-align: center;
    margin: 50px 100px;
    font-size: 20px;
    position: relative;
    z-index: 10;

}
.blackfilter{
    height: 80vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.407);
    position: absolute;
    z-index: 1;
    left: 0;
}

/* section two */
.two{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.cardStar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0;
    gap: 50px;
}
div.cardPresta a, div.cardPresta p{
    padding: 5%;
}
div.cardPresta h3{
    margin-bottom: 30px;
}
div.cardPresta{
    height: 50vh;
    width: 25vw;
    
}
div.cardPresta img{
    height: 15vh;
    width: 15vw;
    border-radius: 10%;
    -webkit-box-shadow: -6px 4px 13px 3px rgba(0,0,0,0.58); 
    box-shadow: -6px 4px 13px 3px rgba(0,0,0,0.58);
    transition: 0.5s;
}
div.cardPresta img:hover{
    transform: scale(1.1);
    -ms-transform: scale(1.1); /* IE 9 */
-webkit-transform: scale(1.1); /* Safari 3-8 */

}
.buttonSmall {
	box-shadow: -6px 6px 8px -1px #9fb4f2;
	background-color:#7892c2;
    width:20vw;
	border-radius:10px;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:10px 8px;
    margin-bottom: 50px;
    text-align: center;
}
.buttonSmall:hover {
    color: #7892c2;
	border: solid 3px #7892c2;
    padding:10px 5px;
	background-color:#ffffff;
    transition: 0.3s;
}
.button {
	box-shadow: -6px 6px 8px -1px #9fb4f2;
	background-color:#7892c2;
    width: 25vw;
	border-radius:10px;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:26px 16px;
    margin-bottom: 50px;
    text-align: center;
}
.button:hover {
    color: #7892c2;
	border: solid 6px #7892c2;
    padding:20px 10px;
	background-color:#ffffff;
    transition: 0.3s;
}
/* section three */
.three{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    background-color: #e8e8e8;
}
div.icon img{
    height: 5vh;
    width: 5vw ;
}
p.qui{
    padding:30px 100px ;

}
/* section four */

.four{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.cardProd{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.cardProd a, div.cardProd p{
    padding: 5%;
}
div.cardProd{
    height: 50vh;
    width: 25vw;
    
}
div.cardProd img{
    height: 15vh;
    width: 15vw;
    border-radius: 10%;
    -webkit-box-shadow: -6px 4px 13px 3px rgba(0,0,0,0.58); 
    box-shadow: -6px 4px 13px 3px rgba(0,0,0,0.58);
    transition: 0.5s;
}
div.cardProd img:hover{
    transform: scale(1.1);
    -ms-transform: scale(1.1); /* IE 9 */
-webkit-transform: scale(1.1); /* Safari 3-8 */

}

/* section five */

.five{
    height: 80vh;
    width: 100%;
    position: relative;
    background-attachment: fixed; /* Fixe l'image pendant le scroll */
    background-size: cover; /* L'image prendra 100% de l'espace */
    background-position: center; /* Centre la position de l'image */
    background-repeat: no-repeat; /* Empêche l'image de se répéter en fonction de la taille d'écran */
    background-image:url(/assets/img/barberShop.jpg);
}
section.five h2{
    padding-top: 30px;
}
section.five p,section.five h2{
    color: white;
    position: relative;
    z-index: 10;
}
/* section six */

.six{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map{
    height: 60vh;
    width: 80vw;
    border-radius: 10px;
    -webkit-box-shadow: -6px 4px 13px 3px rgba(0,0,0,0.58); 
    box-shadow: -6px 4px 13px 3px rgba(0,0,0,0.58);
    margin: 0 0 50px 0;
}
            /********** section seven **********/

/* contact */

.seven{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    background-size: cover; /* L'image prendra 100% de l'espace */
    background-position: center; /* Centre la position de l'image */
    background-repeat: no-repeat; /* Empêche l'image de se répéter en fonction de la taille d'écran */
    background-image: url(/assets/img/outils.jpg);
    z-index: 1;
}
.allContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    -webkit-box-shadow: -6px 4px 13px 3px rgba(0,0,0,0.58); 
    box-shadow: -6px 4px 13px 3px rgba(0,0,0,0.58);
    padding: 0 15px 15px 15px;
    border-radius: 20px;
    gap: 40px;
    margin-bottom: 30px;
}
.tel, .mail, .adresse{
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* social media */

.socialMedia{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul.socialMedia li{
    padding-bottom: 20px;
    margin: 0 10px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #fff;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0);
    color: white;
    font-size: 2.5em;
}
.fa-linkedin{
    color: #0072b1;
}
.fa-linkedin:hover{
    background: #0072b1;
    box-shadow: 0px 0px 15px 15px #0073b171;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.fa-instagram{
    color: #E1306C;
}
.fa-instagram:hover{
    background: #E1306C;
    box-shadow: 0px 0px 15px 15px #e1306b79;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.fa-snapchat{
    color: #FFFC00;
}
.fa-snapchat:hover{
    background: #FFFC00;
    box-shadow: 0px 0px 15px 15px #fffb0077;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.fa-facebook{
    color: #3b5998;
}
.fa-facebook:hover{
    background: #3b5998;
    box-shadow: 0px 0px 15px 15px #3b589881;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.fa-whatsapp{
    color: #25D366
}
.fa-whatsapp:hover{
    background: #25D366;
    box-shadow: 0px 0px 15px 15px #25d3657e;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
/********** SHOP **********/

.prodAll{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
}
.cardProd{
    display: flex;
    flex-direction:column;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(197, 198, 199);
    -webkit-box-shadow: -6px 4px 13px 3px rgba(0,0,0,0.58); 
    box-shadow: -6px 4px 13px 3px rgba(0,0,0,0.58);
    width: 180px;
    height: 250px;
}
img{
    width: 150px;
    height: 150px;
}
/********** Panier **********/

table.panier{
    margin-top: 20px;
}
table.panier, td.panier, tr.panier, th.panier{
    border: 3px solid;
    border-collapse: collapse;
}  

img.imgPanier{
    border-radius: 10px;
    margin: 10px;
}
button.panierV{
    margin: 20px 0;
    background-color: green;
    width: 200px;
    height: 45px;
    border-radius: 10px;
}   
a.textBtnP{
    color: white;
    font-weight: bold;
    font-size: 16px;
}
/********** Prestation **********/
div.cardAll{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div.cardPresta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 15px;
    background-color: rgb(208, 205, 201);
    -webkit-box-shadow: -6px 4px 13px 3px rgba(0,0,0,0.58); 
    box-shadow: -6px 4px 13px 3px rgba(0,0,0,0.58);
    border-radius: 10px;
}
/********** Calendrier **********/

#calendrier{
    width: 80%;
    margin:auto;
}
/********** Footer **********/

.footer{
    background-color: rgb(197, 197, 197);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.linkFooter{
        padding-top: 30px;
        display: flex;
        flex-direction: column;
     
}
.logoFooter{
    padding: 10px 0;
    
}
.contactFooter{
    padding-top: 30px;
    display: flex;
    flex-direction: column;

}