            /********** NavBar et Footer **********/
ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
}
a{
    color: black;
    text-decoration: none;
}

            /********** SHOP **********/

.prodAll{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
}
.cardProd{
    display: flex;
    flex-direction:column;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(197, 198, 199);
    -webkit-box-shadow: -6px 4px 13px 3px rgba(0,0,0,0.58); 
    box-shadow: -6px 4px 13px 3px rgba(0,0,0,0.58);
    width: 150px;
    height: 250px;
}
img{
    width: 150px;
    height: 150px;
}
            /********** Panier **********/

table.panier{
    margin-top: 20px;
}
table.panier, td.panier, tr.panier, th.panier{
    border: 3px solid;
    border-collapse: collapse;
}  
td{
    text-align: center;
}  
img.imgPanier{
    border-radius: 10px;
    margin: 10px;
}
button.panierV{
    margin: 20px 0;
    background-color: green;
    width: 200px;
    height: 45px;
    border-radius: 10px;
}   
a.textBtnP{
   color: white;
   font-weight: bold;
   font-size: 16px;

}
            /********** Prestation **********/
div.cardAll{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div.cardPresta{
    margin: 10px;
    padding: 15px;
    background-color: rgb(208, 205, 201);
    -webkit-box-shadow: -6px 4px 13px 3px rgba(0,0,0,0.58); 
    box-shadow: -6px 4px 13px 3px rgba(0,0,0,0.58);
    border-radius: 10px;
    width: 150px;
    height: 150px;

}
            /********** Calendrier **********/

#calendrier{
    width: 80%;
    margin:auto;
}