{% extends 'base.html.twig' %}

{% block title %}Tarif{% endblock %}

{% block body %}

<h1>Liste des préstations</h1>
<div class="cardAll">
    {% for prestation in pagination %}
    <div class="cardPresta">
        <a href="#">{{prestation.nom}}</a>
        <p>Prix : {{prestation.prix }}€</p>
        <p>Durée : {{prestation.duree|date('H:i')}}</p>
        <a href="#" class="buttonSmall">Réserver</a>
    </div>
    {% endfor %}
</div>
{{ knp_pagination_render(pagination)}}
{% endblock %}
