<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} / The barber shop</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{asset('assets/css/style.css') }}">
        {% block stylesheets %}
        {% endblock %}
       
        <script src="https://kit.fontawesome.com/ef55713c5a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js" integrity="sha256-8EcfIJRWyvnu/U0OsfCk05x1JGVmeC2a7sJQHrbWYSA=" crossorigin="anonymous"></script>
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
            {% include "_partials/_nav.html.twig" %}
        

            {% block body %}
            
            {% endblock %}

        
            {% include "_partials/_footer.html.twig" %}
    </body>
</html>
