{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}

<H1>Modifier mon profil</H1>

{{ form_start(form)}}

{{form_row(form.pseudo)}}
{{form_row(form.email)}}

<button type="submit" class="btn btn-primary">Modifier</button>

{{form_end(form) }}


{% endblock %}