{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
<div class="editProfil">
<H2>Modifier mon profil</H2>

{{ form_start(form)}}

{{form_row(form.pseudo)}}
{{form_row(form.email)}}

<button type="submit" class="btn btn-primary">Modifier</button>

{{form_end(form) }}

</div>
{% endblock %}